@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        background:  rgb(57, 65, 57) url(../img/30745.gif) no-repeat;
        
    }

    section#login{
        width: 80vw;
        background-color:  rgba(255, 255, 255, 0.765);
        
    }

    section#login > div#imagens{
        float: right;
        width: 50%;
        height: 100%;
        
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
    }

    div#formulario > p{
        font-size: 1.2em;
    }

}

@media screen and (min-width: 992px){
    body{ 
        background:  rgb(57, 65, 57) url(../img/30745.gif) no-repeat;
        }

    section#login{
        width: 950px;
        background-color: rgba(255, 255, 255, 0.824);
        

    }

    section#login > div#imagens{
        float: right;
        width: 40%;
        height: 100%;
        
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
        
}

div#formulario > h1{
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p{
    font-size: 1.2em;
}


}